DEPLOY_TARGET=vercel
ENABLED_SOURCES=copy_manga,manga_dex,nhentai,picacg
DEFAULT_IMAGE_WIDTH=600
DEFAULT_IMAGE_QUALITY=50
CACHE_DRIVER=memory
IMAGE_CACHE_DRIVER=none
CACHE_DIR=./data/cache
IMAGE_CACHE_DIR=./data/images
STORAGE_DIR=./data/storage
ENABLE_RELOAD=false
PORT=3000
