DEPLOY_TARGET=vercel
ENABLED_SOURCES=copy_manga,manga_dex,nhentai,picacg
DEFAULT_IMAGE_WIDTH=600
DEFAULT_IMAGE_QUALITY=50
CACHE_DRIVER=memory
IMAGE_CACHE_DRIVER=none
CACHE_DIR=./data/cache
IMAGE_CACHE_DIR=./data/images
STORAGE_DIR=./data/storage
ENABLE_RELOAD=false
PORT=3000
PUBLIC_URL=https://manga.example.com
NETWORK_TIMEOUT_MS=8000
NETWORK_CONCURRENCY=8
IMAGE_CONCURRENCY=2
MAX_DOWNLOAD_BYTES=20971520
MAX_IMAGE_PIXELS=32000000
MAX_OUTPUT_BYTES=4194304
MEMORY_CACHE_BYTES=67108864
DISK_CACHE_BYTES=536870912
IMAGE_CACHE_TTL_MS=86400000
SOURCE_CACHE_ENTRIES=64
SOURCE_TTL_MS=1800000
SOURCE_DATA_BYTES=1048576
